<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
	<div class="pcoded-wrapper">
		<div class="pcoded-content">
			<div class="pcoded-inner-content">
				<!-- [ breadcrumb ] start -->
				<div class="page-header">
					<div class="page-block">
						<div class="row align-items-center">
							<div class="col-md-12">
								<div class="page-header-title">
									<h5 class="m-b-10">Quản lý</h5>
								</div>
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
									<li class="breadcrumb-item"><a href="#!">Quản lý chuyên môn</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- [ breadcrumb ] end -->
				<div class="main-body">
					<div class="page-wrapper">
						<!-- [ Main Content ] start -->
						<div class="row">
							<!-- [ Responsive table ] start -->
							<div class="col-sm-12">
								<div class="card">
									<div class="card-header">
										<h5>Quản lý chuyên môn</h5>
										<a class="card-header-left" href="#add"><button type="button" class="btn btn-sm btn-icon btn-info"><i class="fas fa-plus"></i></button></a>
										<div class="card-header-right">
											<div class="btn-group card-option">
												<button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
													<i class="feather icon-more-horizontal"></i>
												</button>
												<ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
													<li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> Phóng to</span><span style="display:none"><i class="feather icon-minimize"></i> Khôi phục</span></a></li>
													<li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> Đóng lại</span><span style="display:none"><i class="feather icon-plus"></i> Mở ra</span></a></li>
													<li class="dropdown-item reload-card"><a href="#!"><i class="feather icon-refresh-cw"></i> Tải lại</a></li>
													<li class="dropdown-item close-card"><a href="#!"><i class="feather icon-trash"></i> Xóa</a></li>
												</ul>
											</div>
										</div>
									</div>
									<div class="card-block">
										<div class="table-responsive">
											<table id="responsive-table-model" class="centered striped responsive-table" style="width:100%">
												<thead>
													<tr>
														<th>ID</<th>
														<th>Avatar</th>
														<th>Tên</th>
														<th>Tài khoản</th>
														<th>Email</th>
														<th>Giới tính</th>
														<th>Ngày sinh</th>
														<th>Last active</th>
														<th><i class="fas fa-edit"></i></th>
														</tr>
												</thead>
												<tbody class="table-list" id="list_admins">
												</tbody>
											</table>
										</div>
										<div id="sp_ld" class="d-flex justify-content-center" style="padding-bottom: 30px;">
											<div class="spinner-border" role="status">
												<span class="sr-only">Loading...</span>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- [ Responsive table ] end -->
							<!-- [ Admin list ] start -->
							<!-- [ Admin list ] end -->
							<div id="hd_modal">
							</div>

							<div id="add" class="col-xl-12 col-md-12">
								<div class="card">
									<div class="card-header">
										<h5>Thêm Admin</h5>
										<div class="card-header-right">
											<div class="btn-group card-option">
												<button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
													<i class="feather icon-more-horizontal"></i>
												</button>
												<ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
													<li class="dropdown-item full-card"><a href="#!"><span><i class="feather icon-maximize"></i> Phóng to</span><span style="display:none"><i class="feather icon-minimize"></i> Khôi phục</span></a></li>
													<li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> Đóng lại</span><span style="display:none"><i class="feather icon-plus"></i> Mở ra</span></a></li>
													<li class="dropdown-item reload-card"><a href="#!"><i class="feather icon-refresh-cw"></i> Tải lại</a></li>
													<li class="dropdown-item close-card"><a href="#!"><i class="feather icon-trash"></i> Xóa</a></li>
												</ul>
											</div>
										</div>
									</div>
									<form id="validAdmin" action="">
										<div class="card-block pb-0">
											<div class="row">
												<div class="col-md-6">
													<div class="form-group">
														<label>Họ tên</label>
														<input type="text" id="name" name="name" class="form-control" placeholder="Họ tên của bạn">
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label>Tài khoản</label>
														<div class="input-group mb-3">
															<input type="text" class="form-control" placeholder="Tài khoản đăng nhập" name="username" id="username" oninput="valid_username_or_email(this.value,this.name)">
															<div class="input-group-append">
																<button type="button" class="btn btn-icon btn-danger" id="valid-username-false"><i class="feather icon-slash"></i></button>
																<button type="button" class="btn btn-icon btn-success sp_ld_hide" id="valid-username-true"><i class="feather icon-check-circle"></i></button>
															</div>
														</div>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label for="exampleInputPassword1">Mật khẩu</label>
														<input type="password" class="form-control" data-minlength="1" name="password" id="password" placeholder="Password">
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label>Email</label>
														<div class="input-group mb-3">
															<input type="email" class="form-control" placeholder="Email của bạn" id="email" name="email" oninput="valid_username_or_email(this.value,this.name)">
															<div class="input-group-append">
																<button type="button" class="btn btn-icon btn-danger" id="valid-email-false"><i class="feather icon-slash"></i></button>
																<button type="button" class="btn btn-icon btn-success sp_ld_hide" id="valid-email-true"><i class="feather icon-check-circle"></i></button>
															</div>
														</div>
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label>Ngày sinh</label>
														<input type="date" class="form-control" name="birthday" id="birthday" value="2002-01-01">
													</div>
												</div>
												<div class="col-md-6">
													<div class="form-group">
														<label>Giới tính</label>
														<select class="form-control" name="gender" id="gender">
															<option value="2">Nam</option>
															<option value="3">Nữ</option>
														</select>
													</div>
												</div>
											</div>
											<button id="submit_Admin" type="submit" class="btn btn-primary">Submit</button>
										</div>
									</form>
								</div>
							</div>
						</div>
				<!-- [ Main Content ] end -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Required Js -->
<script src="assets/js/vendor-all.min.js"></script>
<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/pcoded.min.js"></script>
<!-- datatable Js -->
<script src="assets/plugins/data-tables/js/datatables.min.js"></script>
<!-- jquery-validation Js -->
<script src="assets/plugins/jquery-validation/js/jquery.validate.min.js"></script>
<!-- notification Js -->
<script src="assets/plugins/notification/js/bootstrap-growl.min.js"></script>
<!-- custom js -->
<script src="res/js/admins_panel.js"></script>
<!-- sweet alert Js -->
<script src="assets/plugins/sweetalert/js/sweetalert.min.js"></script>

<script type="text/javascript">
	$(document).ready(function(){
  	$("[data-name=admin]").addClass("pcoded-trigger");
	});
</script>
