<!-- [ Main Content ] start -->
<div class="pcoded-main-container">
	<div class="pcoded-wrapper">
		<div class="pcoded-content">
			<div class="pcoded-inner-content">
				<!-- [ breadcrumb ] start -->
				<div class="page-header">
					<div class="page-block">
						<div class="row align-items-center">
							<div class="col-md-12">
								<div class="page-header-title">
									<h5 class="m-b-10">Quản lý thông báo</h5>
								</div>
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
									<li class="breadcrumb-item"><a href="#!">Gửi thông báo</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- [ breadcrumb ] end -->
				<div class="main-body">
					<div class="page-wrapper">
						<!-- [ Main Content ] start -->
						<div class="row">
							<div class="col-xl-12 col-lg-12 filter-bar">
								<nav class="navbar m-b-30 p-10">
										<ul class="nav">
												<li class="nav-item f-text active">
														<a class="nav-link text-secondary" href="#!">Danh sách thông báo</a>
												</li>
										</ul>
										<div class="nav-item nav-grid f-view">
												<span class="m-r-15">View Mode: </span>
												<button type="button" class="btn btn-primary btn-icon m-0" data-toggle="tooltip" data-placement="top" title="list view">
														<i class="fas fa-list-ul"></i>
												</button>
												<button type="button" class="btn btn-primary btn-icon m-0" data-toggle="tooltip" data-placement="top" title="grid view">
														<i class="fas fa-th-large"></i>
												</button>
										</div>
								</nav>
									<div class="card">
										<div class="row">
											<div class="col-md-12 col-sm-12" style="padding: 30px 50px 30px 50px;height: 680px;overflow: auto;">
												<div id="content" class="row">
												</div>
											</div>
										</div>
									</div>
							</div>
						</div>
						<!-- [ Main Content ] end -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Required Js -->
<script src="assets/js/vendor-all.min.js"></script>
<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/js/pcoded.min.js"></script>
<!-- datatable Js -->
<script src="assets/plugins/data-tables/js/datatables.min.js"></script>
<!-- jquery-validation Js -->
<script src="assets/plugins/jquery-validation/js/jquery.validate.min.js"></script>
<!-- notification Js -->
<script src="assets/plugins/notification/js/bootstrap-growl.min.js"></script>
<!-- WaterBall Js -->
<script src="assets/plugins/waterball/js/createWaterBall-jquery.js"></script>
<!-- sweet alert Js -->
<script src="assets/plugins/sweetalert/js/sweetalert.min.js"></script>
<!-- Multi select css -->
<link href="assets/plugins/multi-select/css/multi-select.css" rel="stylesheet">
<!-- Multi select Js -->
<script src="assets/plugins/multi-select/js/jquery.quicksearch.js"></script>
<script src="assets/plugins/multi-select/js/jquery.multi-select.js"></script>
<script src="res/js/student_notifications.js"></script>

<script src='res/libs/MathJax/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
<script type="text/javascript">
    MathJax.Hub.Config({
        extensions: ["tex2jax.js"],
        jax: ["input/TeX", "output/HTML-CSS"],
        tex2jax: {
            inlineMath: [
            ["$", "$"],
            ["\\(", "\\)"]
            ]
        }
    });
</script>
<script type="text/javascript">
	$(document).ready(function(){
  	$("[data-name=gui-thong-bao]").addClass("pcoded-trigger");
	});
</script>
